
<h3  class="pt-2"><i class="bi bi-list" (click)="firstDisplay()"></i></h3>   
<div  *ngIf="first" class="container-fluid mt-2  pb-3 height">
    <ul class="list-group pt-5">
        <li class="list-group-item active " aria-current="true"><span>An active item</span></li>
        <li class="list-group-item">A Text Area</li>
        <li class="list-group-item">A Menu Area</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
</div>

